/*DEBUT ELEMENTS GENERAUX A TOUTES LES PAGES */


@font-face {
    font-family: 'GearsOfPeace';
    src: url('../police/GearsOfPeace.ttf') format('truetype');
}



@font-face {
    font-family: 'Lobster';
    src: url('../police/Lobster.otf') format('truetype');
}




html, body { /* Remise à zéro des marges de la page */
  padding: 0;
  margin: 0;
  min-height: 100%;
}

.container {
  min-width: 75% !important;
}

  /* --> HEADER <-- */
header {
  background-color: #516782;
  color: #F8F8FF;
  font-family: "SpaceMeatball";
  width: 100%;
  height: 25%;
}

header h1 { /* Titre de l'application */
  font-family: 'Lobster';
  font-size: 60px;
}
header h3 { /* Titre de l'application */
  font-family: 'Lobster';
}

header #entete { /* Flex sur les blocks du header pour les alignés verticalement et horizontalement */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header #entete .element:nth-child(2) { /* Grossisement du bloc contenant H1 */
  flex: 1;
}

  /* --> FIN HEADER <-- */

  /* --> DEBUT NAV <-- */

.navbar {
  background-color: #2D3948;
  /*font-family: "GB";*/
}

.navbar .navbar-brand {
  padding-left: 20px;
}

.navbar a:hover { /* Liens du menu de navigation quand on passe dessus */
  color: #F8F8FF !important;
}



.navbar .dropdown-menu {
  background-color: #262626;
}

.navbar .dropdown-item {
  color: #929292;
}

.navbar .dropdown-item:hover {
  background-color: #262626;
}

.dropdown:hover > .dropdown-menu { /* Ajout frais se déroule quand on passe dessus */
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

  /* --> FIN NAV <-- */

  /* --> DEBUT SECTION <-- */

section {
  margin-top: 5%;
}



section h2 {
  font-family: 'GearsOfPeace';
  color: #262626;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

section label { /*Couleur de tous les labels du site */
  color: #262626;
}


/* PARAMETRE BOUTONS DU SITE*/
section .btn-connexion{ /* Boutons du site*/
  background-color: #4682B4;        /*bleu foncé pour le fond*/
  border: 2px solid #FFFFFF;        /*blanc pour le contour*/
  color: #F8F8FF;                   /*un autre blanc pour la police d'écriture*/
  font-size: 20px;
  margin: 2% 15%;
  width: 60%;
}

section .btn-connexion:hover { /* Survol des boutons du site*/
    background-color: #F8F8FF !important;
    color: #4682B4;
    border: 2px solid #4682B4;
  }




/*tous les autres boutons*/
section .btn-all{
  background-color: #4682B4;
  color: #F8F8FF;
  border: 2px solid #4682B4;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

section .btn-all:hover { /* Survol des boutons du site*/
    background-color: #F8F8FF !important;
    color: #4682B4;
    border: 2px solid #4682B4;
  }


/*FIN BOUTONS DU SITE*/




section input:focus{ /*Ombre et bordure lorsqu'on rentre une donnée dans l'input */
  box-shadow: 2px 2px 8px #225CA3 !important;
  border: 3px solid #225CA3 !important;
}

th, th { /* Texte centré dans les tablaux du site */
  text-align: center !important;
}

  /* --> FIN SECTION <-- */



  /* --> DEBUT FOOTER <-- */
footer{
  color : white;
  background-color: #516782;
  margin-top: 5%;
  padding: 10px;
  bottom: 0;
  width: 100%;
  text-align: center;
}




  /* --> FIN FOOTER <-- */




/*FIN ELEMENTS GENERAUX A TOUTES LES PAGES */

/* DEBUT SECTION connexion.html */

#connexion{ /* Formulaire de connexion */
	width:30%;
  margin: 8% auto;
  padding:2% 5%;
  border: 2px solid #262626;
  background-color: #F8F8FF;
  border-radius: 10%;

}








#t{
  background-image:url(../img/labo.jpg);
  background-position:top center;
}

#logo{
  size: 35%;
}




/* FIN SECTION connexion.html */

/* DEBUT SECTION accueil.html */

section .msgAccueil { /* Message accueil */
  text-align: center;
}

/* FIN SECTION accueil.html */

/* DEBUT SECTION fraisForfait.html */

section #formFraisForf {
  width: 75%;
  margin: auto;
}

section select option {
  color: #262626;
}

section #formFraisForf .form-control {
  color: #262626;
}

section #formFraisForf .form-control:focus {
  box-shadow: 1px 1px 8px #4682B4 !important;
  border: 1px solid #4682B4 !important;
}

/* FIN SECTION fraisForfait.html */

/* DEBUT SECTION horsForfait.html */

section #formHorsForf {
  width: 75%;
  margin: auto;
}
/* FIN SECTION horsForfait.html */

/* DEBUT SECTION consultation.html */

section .moisEtat select option {
  color: #262626;
}

/*section #consultationMois .form-control {
  border: 2px solid #262626;
  background-color: #F8F8FF;
  border-radius: 10%;
}

section #consultationMois .form-control:focus {
  box-shadow: 1px 1px 8px #516782 !important;
  border: 1px solid #516782 !important;
}*/

section .moisEtat { /*Flex sur le choix du mois et l'état de la fiche*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section .moisEtat .element:nth-child(2) { /*Centrer l'état de la fiche*/
  margin: auto;
}

section .moisEtat p { /*Enlève la marge extérieur du bas du paragraphe */
  margin-bottom: 0px !important;
}

section .tabConsult p {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* FIN SECTION consultation.html */
